# 폐암환자 생존률 예측

## 파일 업로드

In [1]:
!unzip dataset.zip -d dataset

Archive:  dataset.zip
  inflating: dataset/housing.csv
  inflating: dataset/iris.csv
  inflating: dataset/pima-indians-diabetes.csv
  inflating: dataset/sonar.csv
  inflating: dataset/ThoraricSurgery.csv
  inflating: dataset/wine.csv

In [2]:
!ls

dataset  dataset.zip  sample_data

In [4]:
!ls -l dataset

total 548
-rw-r--r-- 1 root root  49082 Jun 30  2020 housing.csv
-rw-r--r-- 1 root root   4551 Jun 30  2020 iris.csv
-rw-r--r-- 1 root root  23279 Jun 30  2020 pima-indians-diabetes.csv
-rw-r--r-- 1 root root  87776 Jun 30  2020 sonar.csv
-rw-r--r-- 1 root root  21257 Jun 30  2020 ThoraricSurgery.csv
-rw-r--r-- 1 root root 361279 Jun 30  2020 wine.csv

## 데이터 탐색

In [5]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('dataset/ThoraricSurgery.csv')
df.head()

   293  1   3.8   2.8  0  0.1  0.2  0.3  ...  12  0.6  0.7  0.8  1.1  0.9  62  0.10
0    1  2  2.88  2.16  1    0    0    0  ...  14    0    0    0    1    0  60     0
1    8  2  3.19  2.50  1    0    0    0  ...  11    0    0    1    1    0  66     1
2   14  2  3.98  3.06  2    0    0    0  ...  14    0    0    0    1    0  80     1
3   17  2  2.21  1.88  0    0    1    0  ...  12    0    0    0    1    0  56     0
4   18  2  2.96  1.67  0    0    0    0  ...  12    0    0    0    1    0  61     0

[5 rows x 18 columns]

In [9]:
df = pd.read_csv('dataset/ThoraricSurgery.csv', header=None)
df.head()

    0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0  293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62   0
1    1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60   0
2    8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66   1
3   14   2  3.98  3.06   2   0   0   0   1   1  14   0   0   0   1   0  80   1
4   17   2  2.21  1.88   0   0   1   0   0   0  12   0   0   0   1   0  56   0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470 entries, 0 to 469
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       470 non-null    int64
 1   1       470 non-null    int64
 2   2       470 non-null    float64
 3   3       470 non-null    float64
 4   4       470 non-null    int64
 5   5       470 non-null    int64
 6   6       470 non-null    int64
 7   7       470 non-null    int64
 8   8       470 non-null    int64
 9   9       470 non-null    int64
 10  10      470 non-null    int64
 11  11      470 non-null    int64
 12  12      470 non-null    int64
 13  13      470 non-null    int64
 14  14      470 non-null    int64
 15  15      470 non-null    int64
 16  16      470 non-null    int64
 17  17      470 non-null    int64
dtypes: float64(2), int64(16)
memory usage: 66.2 KB

In [11]:
df.describe()

               0           1           2   ...          15          16          17
count  470.000000  470.000000  470.000000  ...  470.000000  470.000000  470.000000
mean   235.500000    3.095745    3.281638  ...    0.004255   62.534043    0.148936
std    135.821574    0.722309    0.871395  ...    0.065163    8.706902    0.356405
min      1.000000    1.000000    1.440000  ...    0.000000   21.000000    0.000000
25%    118.250000    3.000000    2.600000  ...    0.000000   57.000000    0.000000
50%    235.500000    3.000000    3.160000  ...    0.000000   62.000000    0.000000
75%    352.750000    3.000000    3.807500  ...    0.000000   69.000000    0.000000
max    470.000000    8.000000    6.300000  ...    1.000000   87.000000    1.000000

[8 rows x 18 columns]

## 데이터셋 만들기

In [14]:
from sklearn.model_selection import train_test_split
import tensorflow as tf

# 시행할 때마다 같은 결과를 출력하기 위한 seed 값 설정
seed = 2021
np.random.seed(seed)
tf.random.set_seed(seed)

In [15]:
# df.iloc[:, :-1] - 데이터프레임형태의 데이터
# df.iloc[:, :-1].values - 넘파이데이터로 변환
X_train, X_test, y_train, y_test = train_test_split(
    df.iloc[:, :-1].values, df.iloc[:, -1].values,
    stratify=df.iloc[:, -1].values,
    random_state=seed
)
X_train.shape, X_test.shape

((352, 17), (118, 17))

## 모델 정의

In [16]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [18]:
# model = Sequential([
#   Dense(30, input_shape(17,), activation='relu'),
#   Dense(1, activation='sigmoid')
# ])

# 17개의 컬럼을 2차원 데이터로 변환: (17,)

model = Sequential()

# 노드갯수는 30개
model.add(Dense(30, input_shape=(17,), activation='relu'))

# 노드갯수는 이진분류라서 1개
model.add(Dense(1, activation='sigmoid'))

model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 30)                540
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 31
=================================================================
Total params: 571
Trainable params: 571
Non-trainable params: 0
_________________________________________________________________

## 모델 컴파일(실행환경 설정)

In [20]:
model.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

## 모델 학습

In [21]:
model.fit(X_train, y_train, validation_split=0.2, epochs=30, batch_size=10)

Epoch 1/30
29/29 [==============================] - 1s 9ms/step - loss: 6.7828 - accuracy: 0.3405 - val_loss: 2.6058 - val_accuracy: 0.7042
Epoch 2/30
29/29 [==============================] - 0s 2ms/step - loss: 1.2124 - accuracy: 0.8427 - val_loss: 0.9057 - val_accuracy: 0.7183
Epoch 3/30
29/29 [==============================] - 0s 2ms/step - loss: 0.5119 - accuracy: 0.8287 - val_loss: 0.6953 - val_accuracy: 0.7606
Epoch 4/30
29/29 [==============================] - 0s 2ms/step - loss: 0.5265 - accuracy: 0.8299 - val_loss: 0.6481 - val_accuracy: 0.7324
Epoch 5/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4364 - accuracy: 0.8542 - val_loss: 0.6261 - val_accuracy: 0.7606
Epoch 6/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3771 - accuracy: 0.8919 - val_loss: 0.6137 - val_accuracy: 0.7746
Epoch 7/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4348 - accuracy: 0.8544 - val_loss: 0.7721 - val_accuracy: 0.7746
Epoch 8/30
29/29 [==============================] - 0s 2ms/step - loss: 0.5564 - accuracy: 0.8435 - val_loss: 0.6081 - val_accuracy: 0.7746
Epoch 9/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4327 - accuracy: 0.8901 - val_loss: 0.9665 - val_accuracy: 0.7887
Epoch 10/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4553 - accuracy: 0.8799 - val_loss: 0.5844 - val_accuracy: 0.7746
Epoch 11/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4049 - accuracy: 0.8602 - val_loss: 0.5881 - val_accuracy: 0.7746
Epoch 12/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4129 - accuracy: 0.8654 - val_loss: 0.7195 - val_accuracy: 0.7887
Epoch 13/30
29/29 [==============================] - 0s 3ms/step - loss: 0.5356 - accuracy: 0.8368 - val_loss: 0.6925 - val_accuracy: 0.7887
Epoch 14/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4089 - accuracy: 0.8749 - val_loss: 0.6129 - val_accuracy: 0.7887
Epoch 15/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4601 - accuracy: 0.8630 - val_loss: 0.6310 - val_accuracy: 0.7887
Epoch 16/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4259 - accuracy: 0.8619 - val_loss: 0.6748 - val_accuracy: 0.7887
Epoch 17/30
29/29 [==============================] - 0s 3ms/step - loss: 0.5316 - accuracy: 0.8282 - val_loss: 0.8401 - val_accuracy: 0.7887
Epoch 18/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3950 - accuracy: 0.8802 - val_loss: 0.5982 - val_accuracy: 0.7887
Epoch 19/30
29/29 [==============================] - 0s 2ms/step - loss: 0.4395 - accuracy: 0.8472 - val_loss: 0.6581 - val_accuracy: 0.7887
Epoch 20/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3970 - accuracy: 0.8726 - val_loss: 0.5901 - val_accuracy: 0.7887
Epoch 21/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3825 - accuracy: 0.8675 - val_loss: 0.8233 - val_accuracy: 0.7887
Epoch 22/30
29/29 [==============================] - 0s 2ms/step - loss: 0.4241 - accuracy: 0.8649 - val_loss: 0.6124 - val_accuracy: 0.7887
Epoch 23/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3916 - accuracy: 0.8509 - val_loss: 1.2505 - val_accuracy: 0.3803
Epoch 24/30
29/29 [==============================] - 0s 3ms/step - loss: 0.9819 - accuracy: 0.6189 - val_loss: 0.6031 - val_accuracy: 0.7465
Epoch 25/30
29/29 [==============================] - 0s 2ms/step - loss: 0.3763 - accuracy: 0.8870 - val_loss: 0.6962 - val_accuracy: 0.7887
Epoch 26/30
29/29 [==============================] - 0s 2ms/step - loss: 0.3809 - accuracy: 0.8572 - val_loss: 0.6511 - val_accuracy: 0.7887
Epoch 27/30
29/29 [==============================] - 0s 7ms/step - loss: 0.3348 - accuracy: 0.8996 - val_loss: 0.5990 - val_accuracy: 0.7887
Epoch 28/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3944 - accuracy: 0.8594 - val_loss: 0.6281 - val_accuracy: 0.7887
Epoch 29/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3366 - accuracy: 0.8821 - val_loss: 0.6793 - val_accuracy: 0.7887
Epoch 30/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3833 - accuracy: 0.8716 - val_loss: 0.6085 - val_accuracy: 0.7887

## 정확도 평가

In [22]:
acc = model.evaluate(X_test, y_test)
acc

4/4 [==============================] - 0s 3ms/step - loss: 0.4661 - accuracy: 0.8475

[0.46611106395721436, 0.8474576473236084]

In [24]:
print(f'Accuracy: {acc[1]:.4f}')

Accuracy: 0.8475