## 초음파 광물 데이터

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

# 실행할 때마다 같은 결과를 출력하기 위한 seed 값 설정
seed = 2021
np.random.seed(seed)
tf.random.set_seed(seed)

## 데이터 전처리

In [2]:
# 파일 업로드
from google.colab import files
uploaded = files.upload()
filename = list(uploaded.keys())[0]
filename

Saving sonar.csv to sonar.csv

'sonar.csv'

In [3]:
# 파일 불러오기
df = pd.read_csv(filename, header=None)
df.head()

       0       1       2       3       4   ...      56      57      58      59  60
0  0.0200  0.0371  0.0428  0.0207  0.0954  ...  0.0180  0.0084  0.0090  0.0032   R
1  0.0453  0.0523  0.0843  0.0689  0.1183  ...  0.0140  0.0049  0.0052  0.0044   R
2  0.0262  0.0582  0.1099  0.1083  0.0974  ...  0.0316  0.0164  0.0095  0.0078   R
3  0.0100  0.0171  0.0623  0.0205  0.0205  ...  0.0050  0.0044  0.0040  0.0117   R
4  0.0762  0.0666  0.0481  0.0394  0.0590  ...  0.0072  0.0048  0.0107  0.0094   R

[5 rows x 61 columns]

In [4]:
# Target Data
df[60].unique()

array(['R', 'M'], dtype=object)

In [9]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_encoded = le.fit_transform(df[60].values)
y_encoded[95:100]

array([1, 1, 0, 0, 0])

## 과적합 발생 테스트

In [10]:
X = df.iloc[:, :-1].values
X.shape

(208, 60)

In [13]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# 모델 정의
model = Sequential()
model.add(Dense(24, activation='relu', input_dim=60))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid')) # output 이 0 하고 1 두개 밖에 없기때문에 sigmoid 를 사용
model.summary()

# 모델 설정
model.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

# 모델 실행
history = model.fit(X, y_encoded, epochs=200, batch_size=10, verbose=0)

# 모델 평가
acc = model.evaluate(X, y_encoded)
print(f'Accuracy: {acc[1]:.4f}')

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 24)                1464
_________________________________________________________________
dense_7 (Dense)              (None, 8)                 200
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 9
=================================================================
Total params: 1,673
Trainable params: 1,673
Non-trainable params: 0
_________________________________________________________________
7/7 [==============================] - 0s 2ms/step - loss: 0.0143 - accuracy: 1.0000
Accuracy: 1.0000

## 과적합 방지 테스트

In [14]:
# Train/Test 데이터셋으로 나누기
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y_encoded,
    stratify=y_encoded,
    random_state=seed
)

## 모델 정의/설정/학습/평가

In [16]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# 모델 정의
model2 = Sequential()
model2.add(Dense(24, activation='relu', input_dim=60))
model2.add(Dense(8, activation='relu'))
model2.add(Dense(1, activation='sigmoid'))
model2.summary()

# 모델 설정
model2.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

# 모델 실행
history = model2.fit(X_train, y_train, epochs=200, batch_size=10, verbose=0)

# 모델 평가
acc = model2.evaluate(X_test, y_test)
print(f'Accuracy: {acc[1]:.4f}')

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 24)                1464
_________________________________________________________________
dense_13 (Dense)             (None, 8)                 200
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 9
=================================================================
Total params: 1,673
Trainable params: 1,673
Non-trainable params: 0
_________________________________________________________________
2/2 [==============================] - 0s 3ms/step - loss: 0.6532 - accuracy: 0.8269
Accuracy: 0.8269

## 모델 저장하기

In [17]:
model2.save('my_model2.h5')

In [18]:
!ls -l

total 144
-rw-r--r-- 1 root root 51336 Feb  9 05:54 my_model2.h5
drwxr-xr-x 1 root root  4096 Feb  4 15:26 sample_data
-rw-r--r-- 1 root root 87776 Feb  9 05:14 sonar.csv

In [19]:
from tensorflow.keras.models import load_model
my_model = load_model('my_model2.h5')

# 모델 평가
acc = my_model.evaluate(X_test, y_test)
print(f'Accuracy: {acc[1]:.4f}')

2/2 [==============================] - 0s 5ms/step - loss: 0.6532 - accuracy: 0.8269
Accuracy: 0.8269